* {
	box-sizing: border-box;
}

li {
	list-style: none;
}

nav ul li{
	display: inline;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	color: #303030;
	list-style-type: none;
	margin-right: 20px;
	padding: 0;
	text-transform: uppercase;
	bottom: 0;
	right: 0;
}

a, a:visited {
	text-decoration: none;
	color: inherit;
}

body{
	background-attachment: fixed;
	background-repeat: no-repeat;
}

/* buat home */

.homepage {
	background-image:url("background_home.png");
	background-size:cover;
}

.content{
	font-family: Roboto, sans-serif;
	color: white;
	margin-top: 200px;
}

h1 {
	font-weight: bold;
	font-size: 72px;
}

#random {
	font-size: 24px;
	line-height: 0.4;
}

#quote {
	font-family: "Dancing Script", cursive;
	font-size: 36px;
	font-weight: bold;
	line-height: 0.1;
}

/* buat about */

.aboutpage {
	background-image: url("background_about.png");
	background-size: 35% 100%;
}

#aboutme {
	display: grid;
	grid-template-columns: 35% auto;
	font-family: Poppins, sans-serif;
}

.desc {
	display: flex;
	flex-direction: row;
}

.desc p {
	width: 65%;
	display: block;
	text-align: justify;
}

/* .desc {
	width: 25%;
} */

.profpic {
	width: 200px;
	display: block;
	margin-left: 40px;
}

.left {
	grid-column-start: 1;
	position: fixed;
}

.left h1 {
	color: white;
	font-weight: bold;
	margin-left: 330px;
	margin-top: 250px;
	text-align: right;
	line-height: 0.9;
}

.right {
	grid-column-start: 2;
	margin-left: 20px;
	margin-right: 30px;
	text-align: justify;
}

#greeting {
	font-weight: bold;
}

/* khusus skills, experiences */

.box{
	width: 500px;
	margin: 60px auto;
	position: relative;
	box-shadow: 0 0 5px gray;
}

.about-title {
	font-weight: bold;
	font-size: 24px;
	background: -webkit-linear-gradient(#F1EA59, #EFD2A5);
	background-clip: content-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	margin-top: 5px;
}

.box li {
	position: relative;
	background: white;
	padding: 15px 20px;
	font-size: 18px;
	font-weight: 300;
}

.bar {
	background: #303030;
	display: block;
	height: 2px;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 0 10px white;
}

.bar span {
	height: 2px;
	float: left;
	background: linear-gradient(#F1EA59, #9FD691);
}

.python {
	width: 90%;
	animation: python 5s;
}

.java {
	width: 90%;
	animation: python 5s;
}

.html {
	width: 70%;
	animation: html 5s;
}

.css {
	width: 70%;
	animation: html 5s;
}

.ai {
	width: 90%;
	animation: python 5s;
}

.javascript {
	width: 50%;
	animation: javascript 5s;
}

@keyframes python {
	0% {
		width: 0%;
	}
	100% {
		width: 90%;
	}
}

@keyframes java {
	0% {
		width: 0%;
	}
	100% {
		width: 30%;
	}
}

@keyframes html {
	0% {
		width: 0%;
	}
	100% {
		width: 70%;
	}
}

@keyframes javascript {
	0% {
		width: 0%;
	}
	100% {
		width: 50%;
	}
}

.exps li {
	font-size: 16px;
	text-align: center;
}

.box p {
	margin: 5px 10px;
	text-align: center;
	padding: 5px;
}

.box p a {
	text-decoration: underline;
	color: #9FD691;
}

/* buat blog */

.blogpage {
	background-image: url("background_blog.png");
	background-size: 100% 250px;
}

.blogtitle {
	top:0;
	width: 100%;
	height: 250px;
}

.blogtitle h1 {
	font-family: Poppins, sans-serif;
	color: white;
	font-size: 48px;
	text-align: center;
	margin-top: 145px;
}

/* buat contact */

.contactpage {
	background-image: url("background_contact.png");
	background-size: 600px 585px;
}

.contactme {
	display: grid;
	height: 100%;
	grid-template-columns: 45% 55%;
	grid-template-rows: 515px auto;
	font-family: Poppins, sans-serif;
}

.contactme #find {
	grid-column-start: 1;
	grid-row-start: 1;
	position: fixed;
	color: white;
	float: right;
	margin-right: 65px;
	margin-top: 150px;
}

.contactme #contact {
	grid-column-start: 1;
	grid-row-start: 2;
	position: fixed;
	margin-top: 36%;
	
}

.contactme #givefeedbacks {
	grid-column-start: 2;
	grid-row: 1 / span 2;
	margin-top: 30px;
}


#contact .round {
	border-radius: 5px;
}

#source {
	font-size: 12px;
	text-decoration: underline;
}

#mail {
	color: #9FD691;
	text-decoration: underline;
}

.inputbox #feedback label {
	width: 100px;
	color: #303030;
}

.inputbox #feedback input[name="sender"], .inputbox #feedback textarea[name="message"] {
	border: 2px solid #F1EA59;
	background: none;
	display: block;
	outline: none;
	border-radius: 5px;
	transition: 0.25s;
	padding: 10px;
}

.inputbox #feedback input[name="sender"]:hover, .inputbox #feedback input[name="sender"]:focus {
	width: 200px;
	border-color: #9FD691;
}

.inputbox #feedback textarea[name="message"]:hover, .inputbox #feedback textarea[name="message"]:focus {
	border-color: #9FD691;
}

.inputbox #feedback input[type="submit"] {
	width: 100px;
	background: linear-gradient(90deg, #EFD2A5, #F1EA59, #9FD691, #F1EA59, #EFD2A5);
	border: none;
	padding: 10px 10px;
	background-size: 400%;
	border-radius: 24px;
	font-size: 14px;
	color: white;
	font-weight: bold;
}

.inputbox #feedback input[type="submit"]:hover {
	animation: gradient 10s linear infinite;
}

@keyframes gradient {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 400%;
	}
}

.feedbacks #feedback {
	width: 700px;
	margin: 20px auto;
	position: relative;
	box-shadow: 0 0 5px gray;
	text-align: center;
}






