<!DOCTYPE html>

<html>
	<head>
		<title>webnya sonya</title>
		<link rel="icon" href="https://66.media.tumblr.com/79071ced5e2adb68f1f0eb6fb017e039/tumblr_pmzi10Y3WI1s2ouhio1_540.png" />
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900|Roboto:300,400,500,700,900" rel="stylesheet">
		<link rel="stylesheet" href="static/style1.css">
	</head>
	
	<body class = "contactpage">
		<header>
			<nav>
				<ul>
					<li><a href="/">home</a></li>
					<li><a href="/about">about</a></li>
					<li><a href="/blog">blog</a></li>
					<li><a href="/contact"><strong>contact</strong></a></li>
				</ul>
			</nav>
		</header>
		
		
		<div class="contactme">
			<div id="find">
				<h1>find me</h1>
			</div>
			<div id="contact">
				<h3>Let's be friends! Kindly click below to find me on:</h3>
				<a href="https://instagram.com/nethaniasonya"><img src="https://66.media.tumblr.com/bcd0335f26a60a9051ce89d2bc80dbdf/tumblr_pn9mznlMny1s2ouhio2_250.png" alt="ig" style="width:35px;height:35px;" class="round" /></a>
				<a href="https://twitter.com/nethaniasonyaa"><img src="https://66.media.tumblr.com/0194c341f29fde283091bef598c9fcb6/tumblr_pn9mznlMny1s2ouhio4_250.png" style="width:35px;height:35px" class="round" /></a>
				<a href="https://www.linkedin.com/in/nethaniasonya/"><img src="https://66.media.tumblr.com/8defbfb0fde436227929c1b097cfc2b0/tumblr_pn9mznlMny1s2ouhio3_250.png" style="width:35px;height:35px" class="round" /></a>
				<a id="source" href="<https://www.freepik.com/free-photos-vectors/business"> icon source  </a>
				<p>Or <a href="mailto:nethaniasonyavls@gmail.com" id="mail">send me an email</a></p>
				
			</div>
			
			
			<div id="givefeedbacks">
				<div class ="inputbox">
					<form action="/submit" method="POST" id="feedback">
						<label for="sender">Put your name here! You can also leave it blank if you'd rather write anonymously.</label> <br>
						<input type="text" name="sender"><br>
						<label for="message">Please write your feedback here so I can make this web better. Thank you in advance!</label> <br>
						<textarea name="message" rows="5" cols="60"></textarea> <br>
						<input type="submit" class="button">
					</form>
				</div>
			
				<h3>Here are the feedbacks that the others (and you, probably) have submitted!</h3>
				<div class="feedbacks">
					{% for feedback in hasil %}
					<div id="feedback">
						<p>{{feedback[1]}}</p>
						<p><strong>{{feedback[0]}}</strong></p>
					</div>
					{% endfor %}
				</div>
		</div>	
		</div>	
	</body>
</html>