<!DOCTYPE html>

<html>
	<head>
		<title>webnya sonya</title>
		<link rel="icon" href="https://66.media.tumblr.com/79071ced5e2adb68f1f0eb6fb017e039/tumblr_pmzi10Y3WI1s2ouhio1_540.png" />
		<link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Poppins:400,500,600,700,800|Roboto:400,500,700,900" rel="stylesheet">
		<link rel="stylesheet" href="static/style1.css">
	</head>

	<body class="homepage">
		<header>
			<nav>
				<ul>
					<li><a href="/"><strong>home</strong></a></li>
					<li><a href="/about">about</a></li>
					<!-- <li><a href="/blog">blog</a></li>
					<li><a href="/contact">contact</a></li> -->
				</ul>
			</nav>
		</header>
		
		<center><div class="content">
			<div id="homepage"><h1 id="welcome">welcome.</h1></div>
			<p id="random">Here's a random quote to brighten up your day.</p>
			<p id = "quote">{{quote}}</p>
		</div></center>
		
	</body>
</html>